In [1]:
import numpy as np
import pandas as pd

### Creating a tensor
`7 days, 24 hours, 3 cities`

In [2]:
T = np.random.uniform(-10, 35, size=(7, 24, 3))
print(T.shape)

(7, 24, 3)

### Output temperatures in the 2nd city for all days and hours

In [3]:
df_city2 = pd.DataFrame(T[:, :, 1], 
                        index=[f'Day{d+1}' for d in range(len(T))],
                        columns=[f'Hour-{h}' for h in range(len(T[0]))])
                        
print('First 3 Days Temperature for City2')
df_city2[:3]

First 3 Days Temperature for City2

,Hour-0,Hour-1,Hour-2,Hour-3,Hour-4,Hour-5,Hour-6,Hour-7,Hour-8,Hour-9,...,Hour-14,Hour-15,Hour-16,Hour-17,Hour-18,Hour-19,Hour-20,Hour-21,Hour-22,Hour-23
Day1,-7.079122,-8.124728,30.675733,4.769874,30.990400,24.535445,33.101432,1.553586,4.479032,22.530976,...,-6.099902,33.911728,-7.133546,9.674156,9.682474,14.669283,34.993405,32.699133,3.861619,13.024532
Day2,-8.219802,-7.783973,22.775320,-5.491994,-4.909707,18.357943,31.813442,8.579004,26.502065,33.880092,...,9.820927,-2.688855,7.481840,27.093412,26.635575,-9.611723,27.484186,18.841316,7.364805,8.034973
Day3,25.203821,25.332227,26.255078,6.591240,28.252098,21.749079,5.404750,25.823311,29.689860,15.197833,...,16.675992,2.632428,21.227048,4.042193,16.555791,-9.173128,-8.546145,1.506205,-7.983232,23.311753

### Output temperatures on the 1st day for all cities

In [4]:
df_day1 = pd.DataFrame(T[0, :, :].T, 
                        index=[f'City{c+1}' for c in range(len(T[0][0]))],
                        columns=[f'Hour-{h}' for h in range(len(T[0]))])
print('Temperature for Day2 in all cities')
df_day1

Temperature for Day2 in all cities

,Hour-0,Hour-1,Hour-2,Hour-3,Hour-4,Hour-5,Hour-6,Hour-7,Hour-8,Hour-9,...,Hour-14,Hour-15,Hour-16,Hour-17,Hour-18,Hour-19,Hour-20,Hour-21,Hour-22,Hour-23
City1,-0.684852,27.119151,17.763993,24.344727,30.868467,25.670144,-3.129798,32.329165,0.728367,11.043672,...,5.102544,-0.800036,34.503402,32.286241,23.410777,31.224770,32.026236,-3.632104,-2.654223,34.145850
City2,-7.079122,-8.124728,30.675733,4.769874,30.990400,24.535445,33.101432,1.553586,4.479032,22.530976,...,-6.099902,33.911728,-7.133546,9.674156,9.682474,14.669283,34.993405,32.699133,3.861619,13.024532
City3,10.887403,20.460379,12.589727,15.907380,18.104998,16.817683,18.513819,27.628996,14.705721,23.202982,...,1.854362,28.754811,9.957932,2.688550,29.808189,2.122973,-0.945815,-0.505274,29.234063,2.812889

### Find the temperature on the 3rd day, at 12:00, in the 2nd city

In [5]:
temp = T[2, 12, 1]
print(f'Temperature on the 3rd day, at 12:00, in the 2nd city: {temp:.2f}')

Temperature on the 3rd day, at 12:00, in the 2nd city: 18.81

### Find the average weekly temperature for each city

In [6]:
avg_weekly = T.mean(axis=(0, 1))   
df_avg_weekly = pd.DataFrame(avg_weekly.reshape(1, -1), 
                            columns=[f'City{c}' for c in range(len(T[0][0]))],
                            index=['Temp'])
df_avg_weekly

          City0      City1     City2
Temp  12.658754  13.255278  12.06965

### Find the maximum temperature for each day (across all cities and hours).

In [7]:
max_per_day = T.max(axis=(1, 2))
df_max_per_day = pd.DataFrame(max_per_day.reshape(1,-1), 
                            columns=[f'Day{c}' for c in range(len(T))],
                            index=['Max_Temp'])
print('Max Temp for Each Day')
df_max_per_day

Max Temp for Each Day

,Day0,Day1,Day2,Day3,Day4,Day5,Day6
Max_Temp,34.993405,34.301591,34.657762,33.200774,33.405801,34.807883,34.936926

### Find the hour with the lowest average temperature (averaged over all days and cities).

In [8]:
avg_per_hour = T.mean(axis=(0, 2)) 
lowest_hour = np.argmin(avg_per_hour)

print(f'The hour with the lowest average temperature: {lowest_hour:.2f}')

The hour with the lowest average temperature: 14.00

### Reshape the tensor into a matrix (7, 72) â€” each day, all hours and cities in one vector

In [9]:
T_matrix = T.reshape(7, -1)

### Find the correlation of temperatures between cities (based on averaged daily profiles)

In [10]:
daily_profiles = T.mean(axis=1)
corr = np.corrcoef(daily_profiles.T)

labels = [f'City{c}' for c in range(len(T[0][0]))]
df_daily_profiles = pd.DataFrame(corr, index=labels, columns=labels)

df_daily_profiles

          City0     City1     City2
City0  1.000000 -0.107513  0.258930
City1 -0.107513  1.000000 -0.448979
City2  0.258930 -0.448979  1.000000